<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>BUS TICKET BOOKING WEBSITE</title>
        <link rel="stylesheet" href="static/fro.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <section class="sub-header">
            <nav>
                <a href="index"><img src="static/images/bus.png" > </a>
                <div class="nav-links" id="navLinks">
                    <i class="fa fa-times" onclick="hideMenu()"></i>
                    <ul>
                        <li><a href="index">HOME</a></li>
                        <li><a href="about">ABOUT</a></li>
                        <li><a href="bookticket">BOOK TICKET</a></li>
                        <li><a href="contact">CONTACT</a></li>
                        <li><a href="comment">COMMENT</a></li>
                    </ul>
                </div>
                <i class="fa fa-bars" onclick="showMenu()"></i>
            </nav>
            <h1>About Us</h1>

        </section>

        <section class="about-us">

        <div class="row">
            <div class="about-col">
                <h1>AirBus-Ticket booking platform</h1>
                <p>AirBus, has strived to deliver easy booking solutions to its customers. Our continued efforts have resulted into AirBus becoming one of the leading ticketing platforms in India for various Bus services. We have a strong presence with a ticket inventory from over 50 bus partners and 1000 route options our app and website.Founded in the year 2022, AirBus is a pioneer in providing end-to-end software and other value-added solutions such as e-ticketing systems, fleet management solutions, vehicle tracking systems, passenger information systems, logistics management backed by a 24x7 customer support center. AirBus is an ISO 9001:2022 certified company.</p>
                <a href="index" class="hero-btn red-btn">EXPLORE NOW</a>
            </div>
        </div>
            <div class="about-col">
                <img src="static/images/bus3.jpeg">
            </div>
        </section>

        

 










<section class="footer">
    <h4>About Us</h4>
    <p>Every business has a story to tell. Even if you're running a start-up, you might not have a long history of changes and growth (yet), but it's a nice touch to talk about <br>how you got to where you are on the About page. So, isolate the milestones before your company's founding, and use them to give readers some backstory on your current venture.</p>
    <div class="icons">
        <i class="fa fa-facebook"></i>
        <i class="fa fa-instagram"></i>
        <i class="fa fa-twitter"></i>
        <i class="fa fa-linkedin"></i>
        <i class="fa fa-youtube"></i>
    </div>
    <p>made with<i class="fa fa-heart-o"></i>booking pro</p>
</section>





       

        <script>
            var navLinks = document.getElementById("navLinks");
            function showMenu(){
                navLinks.style.right = "0";
            }
            function hideMenu(){
                navLinks.style.right = "-200px";
            }
        </script>
    </body>
</html>